<!-- Header -->
<div class="navbar-content">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Weather Forecast
        </a>
    </nav>
    <nav class="form-inline">
        <label class="col-md-3 col-form-label">Enter City</label>
        <input class="form-control col 2" type="text" [(ngModel)]="enterName"/>
        <input class="btn col-md-3" type="button" value="Search" (click)="transferData()">
    </nav>
    <app-weather *ngIf="parentData" [parentData]="parentData"></app-weather>
</div>

